@import url("../../../styles/home/header.css");
@import url("../../../styles/home/footer.css");
@import url("../../../global.css");


.first__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
}

.line {
    margin-top: 5px;
}

.second__container {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    color: #69A625;
}

.third__container {
    background-color: #CEDEBD;
    padding: 5%;
    margin-top: 15px;
}

.third__container-border {
    border: black 1px solid;
    padding: 30%;
}

.fourth__container {
    margin-top: 15px;
}

.fourth__container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.fourth__container-form-title{
    color: #69A625;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.fourth__container label {
    font-size: 12px;
    margin-bottom: 3px;
    width: 80%;
}

.fourth__container input {
    margin-bottom: 15px;
    width: 80%;
    height: 30%;
    font-size: 12px;
}

.fourth__container-form-button {
    padding: 2%;
    margin-top: 15px;
    background-color: #69A625;
    border-radius: 5px;
    font-family: var(--fonte-principal);
    font-size: 12px;
    color: white;
    border: none;
}
button:hover {
    background-color: var(--green-hover);
    transition: 0.5s ease;
}

@media screen and (min-width: 820px) {
    .first__container {
        font-size: 22px;
    }

    .line{
        margin-top: 10px;
    }

    .second__container {
        font-size: 18px;
        margin-left: 40px;
    }

    .third__container {
        padding: 5%;
    }

    .third__container-border {
        border: black 1px solid;
        padding: 20%;
    }

    .fourth__container-form-title{
        font-size: 18px;
        margin-left: 40px;
    }

    .fourth__container label {
        font-size: 14px;
        margin-bottom: 10px;
    } 
}

@media screen and (min-width: 1024px) {
    .first__container {
        font-size: 28px;
    }

    .second__container {
        font-size: 22px;
        margin-left: 50px;
    }

    .third__container {
        padding: 3%;
    }

    .third__container-border {
        border: black 1px solid;
        padding: 13%;
    }

    .fourth__container-form-title{
        font-size: 22px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .fourth__container label {
        font-size: 18px;
        width: 85%;
    } 

    .fourth__container input {
        width: 85%;
        height: 30%;
        font-size: 14px;
    }

    .fourth__container-form-button {
        font-size: 16px;
        padding: 1.5%;
    }

}