.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    width: 70%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    background: grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: rgb(86, 86, 86);
}

#confirmDelete {
    background-color: red;
}

#confirmDelete:hover {
    background-color: #d90f0f;
}
