.title {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    border-bottom: black solid 1.8px;
    padding: 3%;
    margin: 0 13%;
}

.sub_title {
    color: #69A625;
    font-size: 1.0em;
    margin-left: 20px;
    margin: 20px 0px 20px 25px;
}

/* .table__container {
    width: 100%;
    overflow-x: auto;
} */

.table {
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

.break-point {
    white-space: pre-line;
}


@media screen and (min-width: 820px) {
    .title {
        display: flex;
        justify-content: center;
        font-size: 1.8em;
        border-bottom: black solid 1.8px;
        margin-top: 2%;
    }
    
    .sub_title {
        color: #69A625;
        font-size: 1.6em;
        
    }
}

@media screen and (min-width: 1024px) {
    .title {
        display: flex;
        justify-content: center;
        font-size: 2.5em;
        border: black solid 1.8px;
    }
    
    .sub_title {
        color: #69A625;
        font-size: 1.8em;
    }
}

.table {
    font-size: 1.2em;
}