@import url("../home/header.css");
@import url("../home/footer.css");
@import url("../../global.css");

.first__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 0.4em;
  font-size: 18px;
}

.line {
  margin-top: 0.4em;
  width: 60%;
}

.second__container {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0.9em;
  color: #69a625;
}

.border-section {
  display: flex;
  border: 1px solid rgb(162, 159, 159);
  border-radius: 3px;
  margin-top: 3%;
  width: 80%;
  margin-left: 1em;
}

.third__container {
  display: flex;
}

.container__image {
  width: 12%;
  margin: 1.2%;
}

.second-line {
  margin-left: 0.2em;
}

.fourth__container {
  margin: 0.5em;
}

.container__text {
  font-family: var(--body-font);
}

.second-border-section {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.second-border-section-table {
    width: 90%;
    border: 1px solid black;
    font-family: var(--body-font);
}

.section-title {
    border-bottom: 1px solid black;
    font-family: var(--main-font-family);
    font-size: 18px;
}

.section-title-text {
    padding: 0.3em;
}

.text-total{
    font-family: var(--main-font-family);
}

.container__columns {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
    border-bottom: 1px solid black;
    padding: 0.3em;
}

.container__second-columns {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
    padding: 0 0.3em;
    border-bottom: none;
}

