* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background-color: #cedebd;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    align-items: center;
    justify-content: space-between;
    height: 34vh;   
}

.section1 img{
    margin-top: 5%;
}

.section1 p{
    margin-bottom: 5%;
}

.section2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;   
}

.section2 .Stripe{
    background-color: black;
    width: 100%;
    height: 1%;
}

.section2 .Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.section2 .Label{
    font-size: 15px;
    text-align: center;
}

.section3{
    background-color: #cedebd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;   
}

.section3 .FirstImg{
    margin-top: 8%;
}

.section3 .Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 68%;
    margin-bottom: 2%;
}

.section3 .Label{
    font-size: 14px;
    text-align: center;
    color: #224402;
}

.section4{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 195vh;   
}

.section4 .background1 {
    background-color: #cedebd;
    margin-bottom: 4%;
    height: 33vh;
}

.section4 .TitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
}

.section4 .TitleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 5vh;
}

.section4 .LabelTitle{
    display: flex;
    font-size: 16px;
    text-align: center;
    margin-top: 7%;
}

.section4 .Stripe{
    display: flex;
    background-color: black;
    width: 100%;
    height: 1%;
    margin-bottom: 9%;
}

.section4 .YearLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-left: 10%;
    margin-top: 4%;
}

.section4 .YearRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section4 .YearLabel{
    font-size: 16px;
}

.section4 .YearRow .BarLeft{
    display: flex;
    width: 0.15vw;
    height: 2vh;
    background-color: black;
    margin-left: 1vw;
    margin-bottom: 1.7vh;
}

.section4 .YearLeft .Stripe{
    background-color: black;
    width: 100%;
    height: 0.2vh;
    margin-right: 2vw;
    margin-top: -1vh;
}

.section4 .Combo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    margin-left: 3%;
    margin-right: 3%;
}

.section4 .TextContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 53%;
    height: 66%;
}

.section4 .TextContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 75%;
}

.section4 .TextContainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 70%;
}

.section4 .TextContainer4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 55%;
}

.section4 .TextContainer5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 80%;
}

.section4 .Text{
    font-size: 10px;
    text-align: justify;
}

.section4 .YearRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-left: 80%;
}

.section4 .YearRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section4 .YearRight .Stripe{
    background-color: black;
    width: 100%;
    height: 0.2vh;
    margin-right: 2vw;
    margin-top: -1vh;
}

.section4 .YearRow .BarRight{
    display: flex;
    width: 0.2vw;
    height: 5vh;
    background-color: black;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.section4 .YearLabelRight{
    font-size: 16px;
    margin-right: 4vw;
}