@import url("../../styles/home/header.css");
@import url("../../styles/home/footer.css");
@import url("../../global.css");

.container__information, .events, .list__events, .button {
    font-family: var(--body-font);
}
.title {
    text-align: center;
    font-size: 20px;
    margin-top: 12px;
}

.line {
    height: 1px;
    width: 65%;
    margin: 0 auto; 
    color: #000; 
    background-color: #000; 
    border: none; 
  }
  

.container__information {
    text-align: center;
    margin-top: 50px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px; 
}

table {
    margin: 0 auto;
    text-align: left;
}

input {
    width: 309px;
    height: 25px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 4px;
}


table + table {
    margin-top: 20px;
}

.events {
    padding: 20px;
    margin-top: 20px;
    color: #69A625;
    font-size: 16px;
}

.list__events {
    list-style-type: disc;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}
.button {
    margin-left: 60%;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}
.container__button {
    padding: 5px;
    color: #FD0000;
}


.container__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px; 
}

.container__second__footer {
    margin-top: 66px;
}



@media screen and (min-width: 820px) {
    label {
        margin-bottom: 5px; 
        font-size: 25px;
    }
    .title {
        font-size: 40px;
        margin-top: 20px;
    }
   
    .container__image img {
        width: 55px; 
        height: auto; 
    }
    input {
        width: 500px;
        height: 30px;
        margin-bottom: 10px;
    }
    .line {
        height: 2px;
    }
    .container__information {
        margin-left: 17%;
        margin-right: 17%;
    }
    .events {
        margin-left: 17%;
        font-size: 16px;
    }
    .list__events {
        margin-left: 17%;
        margin-right: 17%;
        font-size: 18px;
    }
    .button {
        padding: 10px;
        font-size: 15px;
    }
}



@media screen and (min-width: 1024px) {
    .container__image img {
        width: 65px; 
    }
    input {
        font-size: 20px;
        margin-top: 15px; 
    }
    label {
        margin-bottom: 10px;
    }
    .line {
        height: 3px;
    }
    .container__information {
        margin-left: 23%;
        margin-right: 23%;
    }
    .events {
        margin-left: 23%;
    }
    .list__events {
        margin-left: 23%;
        margin-right: 23%;
    }
    .button {
        margin-right: 23%;
    }

}