@import url("../home/header.css");
@import url("../home/footer.css");
@import url("../../global.css");

/* mobile */

.container__banner {
    background-color: var(--black);
    background-image: url("../../assets/store/Organicos.png");
    background-size: cover;
    background-position: center;
    height: 175px;
    position: relative;
}

.banner__title {
    color: var(--white);
    font-size: 32px;
    padding-top: 8px;
    padding-left: 30px;
}

.banner__text {
    color: var(--white);
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container__title {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    font-size: 22px;
}

.imageCard{
    background-color: #D9D9D9;
    padding: 0.5em;
    margin: 0 auto;
}

.container__products {

}