.header {
    background-color: var(--green);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav {
    display: none;
    background-color: var(--green);
}

.nav.show {
    display: block; 
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav__list li {
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav__list li a {
    color: var(--white);
    text-decoration: none;
}

.nav__list li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}