@import url("../home/header.css");
@import url("../home/footer.css");
@import url("../../global.css");

.banner {
  background-image: url("/assets/support/supportimage.png");
  background-size: cover;
  background-position: center;
  height: 191px;
  position: relative;
}

.container__cards {
  display: flex;
  flex-direction: column;

}

.banner__box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.banner__title {
  color: var(--white);
  font-size: 24px;
  margin-top: 20px;
}

.banner__text {
  color: var(--white);
  font-size: 13px;
  margin-top: 27px;
  margin-right: 15px;
  margin-left: 15px;
}

.banner__button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 0px;
    width: 135px;
}

.banner__button:hover {
    background-color: #4C7E16;
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 25px;
}

.title {
  font-size: 24px;
  color: var(--green);
  margin-bottom: 5px;
  margin-top: 10px;
}

.title__line {
  border: none;
  height: 2px;
  width: 90%;
  background-color: var(--green);
  margin-bottom: 23px;
  margin-top: 15px;
}



.title__supporters {
  font-size: 22px;
  color: black;
  margin-top: 20px
  
  }

  .container__values {
    margin-top: 20px;
  }
  
  .container__values__box__first {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .container__values__text {
    font-size: 12.5px;
    margin-left: 20px;
  }
  
  .container__values__img {
    max-width: 100%;
    margin-right: 20px;
    width: 216px;
    height: 213px;
  }
  
  .container__values__box__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container__values__content {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  
  .container__values__text__caldeiras {
    margin: 25px;
    font-size: 12px;
    width: 340px;
  }
  
  .container__values__content img {
    max-width: 100%;
  }
  
  .container__values__box__third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__values__text__Missao_Ambiental {
    margin: 30px 42px 20px 42px;
    font-size: 12px;
  }

  .container__values__img__Missao__Ambiental {
    max-width: 100%;
    margin-right: 0px;
    width: 544px;
    height: 143px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .supporters__link {
    color: black;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 40px;
  }

  .container__values__box__fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container__values__text__Maua {
    margin: 30px 42px 20px 42px;
    font-size: 12px;
  }

  .container__values__img__maua {
    height: 146px;
    width: 344px;
    margin-top: 20px;


  }

  .supporters__link__text {
    color: blue;
    text-decoration: underline;
  }


@media screen and (min-width: 450px) {

  .banner {
    background-image: url("/assets/support/supportimage.png");
    background-size: cover;
    background-position: center;
    height: 191px;
    position: relative;
  }
  
  .title {
    font-size: 36px;
    color: var(--green);
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .title__supporters {
    font-size: 36px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }




}

@media screen and (min-width: 1024px) {
  
  .banner {
    background-image: url("/assets/support/supportimage.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    
  }
  
  .container__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container__values {
    margin-top: 20px;
    width: 50%;;
  }

  .container__values__box__first {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
  }
  
  .container__values__text {
    font-size: 20px;
    margin-left: 20px;
    width: 85%;
  }

  .container__values__box__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container__values__content {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  
  .container__values__text__caldeiras {
    margin: 25px;
    font-size: 20px;
    width: 80%;

  }


}
